<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book List</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link href="../public/book.css" rel="stylesheet" type="text/css" />
  </head>
  <body id="list-body" class="text-center">
    <div class="m-auto">
        <h2 class="h3 fw-bold mb-4""> Welcome back <%= username %>! </h2>
        <table class="table align-middle table-hover">
          <thead>
            <tr>
              <th>ISBN</th>
              <th>Name</th>
              <th>Author</th>
              <th>Completed</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>978-0345816023</td>
              <td>12 Rules for Life - An Antidote to Chaos</td>
              <td>Jordan B. Peterson</td>
              <td>No</td>
            </tr>
            <tr>
              <td>978-0593084649</td>
              <td>Beyond Order - 12 More Rules for Life</td>
              <td>Jordan B. Peterson</td>
              <td>No</td>
            </tr>
            <tr>
              <td>978-0722538074</td>
              <td>How to Talk to Anyone</td>
              <td>Leil Lowndes</td>
              <td>No</td>
            </tr>
            <tr>
              <td>978-1529370454</td>
              <td>The 80/20 Principle</td>
              <td>Richard Koch</td>
              <td>No</td>
            </tr>
            <tr>
              <td>978-0141029191</td>
              <td>Quiet</td>
              <td>Cain Susan</td>
              <td>No</td>
            </tr>
          </tbody>
        </table>

        <form action="/goToAdd" method="GET">
          <button class="btn btn-lg btn-success" type="submit">
            Add book
          </button>
        </form>
        <div class="text-center mt-5 text-muted">
          Copyright &copy; 2022-2023 <br />
          Theodoros Kotoufos
        </div>
    </div>
  </body>
</html>
