<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <link href="../public/index.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="text-center">
    <div class="form-login w-100 m-auto">
      <h1 class="h3 fw-bold mb-4"">Login</h1>

      <form action="/auth" method="POST" autocomplete="off">
        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="name@example.com"
            name="email"
            required
          />
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Password"
            name="password"
            required
          />
          <label for="floatingPassword">Password</label>
        </div>

        <div class="d-flex align-items-center">
          <div class="form-check">
            <input
              type="checkbox"
              name="remember"
              id="remember"
              class="form-check-input"
              checked="false" 
              value="false"
            />
            <label for="remember" class="form-check-label">Remember Me</label>
          </div>
          <button type="submit" class="btn btn-success ms-lg-auto">Login</button>
        </div>
      </form>

      <form action="/goToRegister" method="GET">
        <div class="card-footer py-3 border-0">
          <div class="text-center">
            Don't have an account?
            <button type="submit" class="btn btn-link text-dark" outline-none>
              Create one!
            </button>
          </div>
        </div>
      </form>
      <div class="text-center mt-5 text-muted">
        Copyright &copy; 2022-2023 <br />
        Theodoros Kotoufos
      </div>
    </div>
  </body>
</html>
